<h1>Yummy Asian Cuisine Recipes</h1>

    {{#each recipes}}

    <h2><a href='recipes/{{this._id}}'>{{this.title}}</a></h2>

    {{!-- <img src=`https://localhost/{{this.image}}` /> --}}

    <h3>Description:</h3>
    <p>{{this.description}}</p>

    <h3>Ingredients:</h3>
    <ul>
        {{#each this.ingredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <h3>Instruction:</h3>
    <ul>
        {{#each this.instruction}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    {{/each}}

    <button><a href="recipes/new">Add a new recipe</a></button>
